#app {
    position: fixed;
    background-color: #1B1F24;
    left: 4vh;
    right: 4vh;
    top: 4vh;
    bottom: 4vh;
    z-index: 2;
}

* {
    background-color: #1B1F24;
    margin: 0;
    padding: 0;
}

@keyframes spinner {
    from { 
        opacity: 0;
     }

    to {
        opacity: 1;
    }
}

#emergency {
    animation: spinner 1s alternate linear infinite;
    height: 200vh;
    z-index: 1;
/*    background: radial-gradient(circle, red 0%, orange 10%, yellow 20%, green 30%, blue 40%, indigo 45%, violet 50%);
    background: -webkit-radial-gradient(circle, red 0%, orange 10%, yellow 20%, green 30%, blue 40%, indigo 45%, violet 5   0%);
*/    background-repeat: repeat;
background-color: orange;
    position: fixed;
    width: 200vw;
    bottom: 50%;
    right: 50%;
    top: -50%;
    left: -50%;
}

#error {
    z-index: 3;
    display: none;
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: orange;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 20%;
    font-size: 20px;
    font-weight: bold;
}

#error.show {
    display: block;
}

